<div ng-controller="appointmentController as vm">
    <br />
    <p>Please complete the form. We will contact you to finalize the appointment.</p>
    <div>
        First Name
    </div>
    <div>
        <input id="firstName" style="width: 300px" ng-model="vm.appointment.firstName" placeholder="First Name" required ng-trim="false" maxlength="50" value="" />
    </div>
    <br />
    <div>
        Last Name:
    </div>
    <div>
        <input style="width: 300px" ng-model="vm.appointment.lastName" placeholder="Last Name" required ng-trim="false" maxlength="50" />
    </div>
    <br />
    <div>
        Email:
    </div>
    <div>
        <input style="width: 300px" ng-model="vm.appointment.email" placeholder="Email" required email ng-trim="false" maxlength="50" />
    </div>
    <br />
    <div>
        Reason:
    </div>
    <div>
        <select ng-options="option.reason for option in vm.reasons track by option.reason" ng-model="vm.appointment.reasonObject" required></select>
    </div>
    <br />
    <div>
        Appointment Date:
    </div>
    <div>
        <input type="date" name="appointmentDate" id="appointmentDate" required ng-model="vm.appointment.appointmentDate">
    </div>
    <br />
    <div>
        Time Bracket:
    </div>
    <div>
        <select ng-options="option.timeBracket for option in vm.timeBrackets track by option.timeBracket" ng-model="vm.appointment.timeBracketObject"></select>
    </div>
    <br />
    <div>
        Gender:
    </div>
    <div>
        <select ng-options="option.gender for option in vm.genders track by option.gender" ng-model="vm.appointment.genderObject"></select>
    </div>
    <br />
    <div>
        <button class="btn btn-primary" ng-click="vm.addAppointment()">Create</button>
    </div>
</div>